body {
    background-color: #202020;
    color: azure;
}

.container {
    max-width: 1400px;
}

.nav-icons {
    color: aliceblue;
    font-size: 20px;
}

#selected {
    display: flex;
}

.selected-icons {
    font-size: 30px;
}
